# allgemeines
TZ=Europe/Berlin
PUID=1000
PGID=1000

# Ports nach außen
WEBSITE_PORT=8080
PIWIGO_PORT=8081
GHOST_PORT=8082
NEXTCLOUD_PORT=8084
PORTAINER_PORT=9000
N8N_PORT=5678

# Ghost DB
GHOST_DB_ROOT_PASSWORD=change_me_ghost_root
GHOST_DB_NAME=ghost
GHOST_DB_USER=ghost
GHOST_DB_PASSWORD=change_me_ghost_db
# Ghost URL (für interne Links, später auf echte IP/Domain setzen)
GHOST_URL=http://localhost:${GHOST_PORT}

# Piwigo DB
PIWIGO_DB_ROOT_PASSWORD=change_me_piwigo_root
PIWIGO_DB_NAME=piwigo
PIWIGO_DB_USER=piwigo
PIWIGO_DB_PASSWORD=change_me_piwigo_db

# Nextcloud DB
NEXTCLOUD_DB_ROOT_PASSWORD=change_me_nextcloud_root
NEXTCLOUD_DB_NAME=nextcloud
NEXTCLOUD_DB_USER=nextcloud
NEXTCLOUD_DB_PASSWORD=change_me_nextcloud_db

# n8n
N8N_HOST=localhost
N8N_EDITOR_BASE_URL=http://localhost:${N8N_PORT}